@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap");
/* Reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 全域 */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  outline: 1px solid #000;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.2;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

/* 容器 */
.container {
  max-width: 1296px;
  margin: 0 auto;
}

/* RWD */
/*  */
.fm-Tourney {
  font-family: "Tourney", sans-serif;
}

.lh-1_5 {
  line-height: 1.5;
}

@media (max-width: 576px) {
  .lh-m-1_2 {
    line-height: 1.2;
  }
  .lh-m-1_5 {
    line-height: 1.5;
  }
}
.fw-700 {
  font-weight: 700;
}

.fw-600 {
  font-weight: 600;
}

@media (max-width: 576px) {
  .fw-m-700 {
    font-weight: 700;
  }
  .fw-m-600 {
    font-weight: 600;
  }
}
.fz-16 {
  font-size: 16px;
}

.fz-20 {
  font-size: 20px;
}

@media (max-width: 576px) {
  .fz-s-16 {
    font-size: 16px;
  }
  .fz-s-20 {
    font-size: 20px;
  }
}
.color-primary {
  color: #3B3B3B;
}

.color-secondary {
  color: #5B5B5B;
}

.color-success {
  color: #C1C1C1;
}

.color-black {
  color: #000;
}

.color-white {
  color: #fff;
}

@media (max-width: 992px) {
  .color-secondary-ps {
    color: #5B5B5B;
  }
}
.pb-8 {
  padding-bottom: 8px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pb-40 {
  padding-bottom: 40px;
}

@media (max-width: 375px) {
  .pb-s-24 {
    padding-bottom: 24px;
  }
}
.header {
  color: #000;
  display: flex;
  align-items: center;
  padding: 28px 0;
}
.header ul {
  margin: 0 auto;
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.header ul li {
  position: relative;
}
.header ul a {
  display: block;
  color: #000;
  padding: 4px 8px;
}
.header ul .nav-top:hover {
  font-weight: 600;
}
.header ul .nav-top:hover::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0;
  left: 0;
  border-top: 1px solid #919191;
  border-left: 1px solid #919191;
}
.header ul .nav-top:hover::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0;
  right: 0;
  border-top: 1px solid #919191;
  border-right: 1px solid #919191;
}
.header ul .nav-bottom:hover::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #919191;
  border-left: 1px solid #919191;
}
.header ul .nav-bottom:hover::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #919191;
  border-right: 1px solid #919191;
}
.header .list {
  display: none;
}
.header .list span {
  color: #000;
  font-size: 40px;
}
.header .list .open {
  display: flex;
}
.header .list .close {
  display: none;
}

@media (max-width: 992px) {
  .header {
    padding: 28px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 24px;
  }
  .header ul {
    -moz-column-gap: 20;
         column-gap: 20;
  }
}
@media (max-width: 576px) {
  .header {
    justify-content: space-between;
    position: relative;
    padding: 12px;
  }
  .header ul {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 24px;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .header .list {
    display: block;
  }
}
@media (max-width: 375px) {
  .header {
    padding: 8px 12px;
  }
}
.main {
  color: #5B5B5B;
  position: relative;
  padding: 248px 0;
}
.main::after {
  position: absolute;
  content: "";
  width: 948px;
  height: 100%;
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/hero-lg.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  right: 0;
  z-index: -1;
}
.main-content ul {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  padding-top: 60px;
}
.main-content a {
  display: block;
  padding: 9px;
}
.main-content img {
  width: 38px;
}
.main-content span {
  position: relative;
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/mark.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%;
  padding: 0 8px;
}
.main-img img {
  max-width: 100%;
  height: auto;
}
.main .hero-img-sm, .main .hero-img-lg {
  display: none;
}

@media (max-width: 992px) {
  .main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding: 0;
  }
  .main::after {
    display: none;
  }
  .main .hero-img-lg {
    display: block;
  }
}
@media (max-width: 576px) {
  .main-content {
    padding: 20px 12px;
    text-align: center;
  }
  .main-content ul {
    justify-content: center;
  }
  .h1-m {
    font-size: 32px;
    font-weight: 700;
  }
}
@media (max-width: 375px) {
  .main .hero-img-lg {
    display: none;
  }
  .main .hero-img-sm {
    display: block;
  }
  .main-content {
    padding: 40px 53.5px;
  }
  .main-content ul {
    padding-top: 24px;
  }
  .main-content a {
    padding: 0;
  }
  .main-content img {
    width: 40px;
  }
}
.index-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 80px;
}
.index-title h2 {
  margin: 0 16px;
}
.index-title-img-m {
  display: none;
}

@media (max-width: 576px) {
  .index-title-img {
    display: none;
  }
  .index-title-img-m {
    display: block;
  }
}
@media (max-width: 375px) {
  .index-title {
    padding: 40px 0;
  }
  .index-title h2 {
    font-size: 24px;
  }
}
.works-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 80px;
}
.works-title h2 {
  margin: 0 16px;
}
.works-title-img-m {
  display: none;
}
.works-ticket {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/homepage-work1-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.works-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.works-ticket-img {
  padding-top: 80px;
}
.works-ticket-img img {
  max-width: 100%;
  height: auto;
}
.works-card {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
  border-radius: 24px;
  padding: 80px 40px 56px;
}
.works-card ul {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  padding-right: 123px;
  margin: 24px 0 40px;
}
.works-card ul p {
  display: block;
  color: #3B3B3B;
  background: #fff;
  border-radius: 16px;
  padding: 4px 12px;
}
.works-card a {
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  background-color: #000;
  padding: 16px 32px;
}
.works-card span {
  display: inline-block;
  vertical-align: middle;
  padding-left: 8px;
}
.works-card-none {
  display: none;
}
.works-card-items {
  border-bottom: 1px solid #F1F1F1;
  margin-bottom: 40px;
}
.works-APP {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/homepage-work2-lg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding: 200px 0;
}
.works-APP::after {
  position: absolute;
  content: "";
  width: 948px;
  height: 100%;
  background: rgba(10, 16, 19, 0.5019607843);
  opacity: 0.5;
  top: 0;
  left: 0;
}
.works-web {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/homepage-work3-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding: 176px 0 112px;
}
.works-web::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #0D0C07;
  opacity: 0.5;
  top: 0;
}
.works-web-img {
  z-index: 1;
}
.works-web-img img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  .works-content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .works-card {
    padding: 40px 24px;
  }
  .works-card ul {
    justify-content: center;
    -moz-column-gap: 8px;
         column-gap: 8px;
    padding-right: 0;
  }
  .works-card ul p {
    background: #F1F1F1;
  }
  .works-card-m-none {
    display: none;
  }
  .works-card-m-block {
    display: block;
  }
  .works-card-items {
    text-align: center;
  }
  .works-card-items h3 {
    color: #1E1E1E;
  }
  .works-APP {
    padding: 400px 0;
  }
  .works-APP::after {
    display: none;
  }
}
@media (max-width: 768px) {
  .works-content {
    padding: 0;
  }
  .works-card {
    background: #fff;
    padding: 24px 24px 48px;
    margin-left: 0;
  }
  .works-card ul {
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
}
@media (max-width: 576px) {
  .works-title-img {
    display: none;
  }
  .works-title-img-m {
    display: block;
  }
  .works-ticket-img {
    padding: 93px 40px 0;
  }
  .works-card ul {
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
  .works-APP {
    padding: 295px 0;
  }
  .works-web {
    padding: 0;
  }
  .works-web-img {
    padding: 120px 40px;
  }
}
@media (max-width: 375px) {
  .works-title {
    padding: 40px 0;
  }
  .works-title h2 {
    font-size: 24px;
  }
  .works-card ul {
    -moz-column-gap: 8px;
         column-gap: 8px;
    padding: 16px 10px 20px;
    margin: 0px;
  }
  .works-card a {
    padding: 8px 16px;
  }
  .works-card-items {
    border-bottom: 0px;
    margin-bottom: 0px;
  }
  .works-APP {
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/homepage-work2-sm.png);
    padding: 195px 0;
  }
  .works-web-card ul {
    padding: 16px 6px 20px;
  }
  .works-web-img {
    padding: 90px 40px;
  }
}
.serve {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/homepage-services-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.serve a {
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  background-color: #000;
  padding: 16px 32px;
}
.serve span {
  display: inline-block;
  vertical-align: middle;
  padding-left: 8px;
}
.serve-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 80px 0;
}
.serve-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 306px;
  height: 306px;
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/service-item-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}
.serve-list li img, .serve-list li h3 {
  color: #fff;
  z-index: 1;
}
.serve-list li img {
  margin-bottom: 24px;
}

@media (max-width: 992px) {
  .serve-list {
    padding: 80px 40px;
  }
}
@media (max-width: 576px) {
  .serve a {
    padding: 8px 16px;
  }
}
@media (max-width: 375px) {
  .serve-list {
    padding: 40px 34.5px;
  }
}/*# sourceMappingURL=all.css.map */