.header {
    color: #000;
    display: flex;
    align-items: center;
    padding: 28px 0;
    //.logo {}
    ul {
        margin: 0 auto;
        display: flex;
        align-items: center;
        column-gap: 40px;
        li {
            position: relative;
        }
        a {
            display: block;
            color: #000;
            padding: 4px 8px;
        }
        .nav-top:hover {
            font-weight: 600;
            &::before {
                content: "";
                position: absolute;
                width: 8px;
                height: 8px;
                top: 0;
                left: 0;
                border-top: 1px solid #919191;
                border-left: 1px solid #919191;
            }
            &::after {
                content: "";
                position: absolute;
                width: 8px;
                height: 8px;
                top: 0;
                right: 0;
                border-top: 1px solid #919191;
                border-right: 1px solid #919191;
            }
        }
        .nav-bottom:hover {
            &::before {
                content: "";
                position: absolute;
                width: 8px;
                height: 8px;
                bottom: 0;
                left: 0;
                border-bottom: 1px solid #919191;
                border-left: 1px solid #919191;
            }
            &::after {
                content: "";
                position: absolute;
                width: 8px;
                height: 8px;
                bottom: 0;
                right: 0;
                border-bottom: 1px solid #919191;
                border-right: 1px solid #919191;
            }
        }
    }
    .list {
        display: none;
        span {
            color: #000;
            font-size: 40px;
        }
        .open, .close {
            display: flex;
        }
        /*.close {
            display: none;
        }*/
        /*.dropdown-open {
            display: flex;
        }*/
        .dropdown-close {
            display: none;
        }
    }
}
@include ps-s {
    .header {
        padding: 28px;
    }
}
@include pad {
    .header {
        padding: 24px;
        ul {
            column-gap: 20; //失效
        }
    }
}
@include pad-s {
    .header {
        justify-content: space-between;
        position: relative;
        padding: 12px;
        ul { // .dropdown 列表
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            width: 100%;
            column-gap: 0;
            row-gap: 24px;
            flex-wrap: wrap;
            flex-direction: column;
            background: #fff;
            padding: 40px 0;
            z-index: 1;
        }
        .list {
            display: block;
        }
        .dropdown-open {
            display: flex;
        }
        /*.dropdown-close {
            display: none;
        }*/
    }
}
@include mobile {
    .header {
        padding: 8px 12px;
    }
}
