// main
.main {
    color: #5B5B5B;
    position: relative;
    padding: 248px 0;
    &::after {
        position: absolute;
        content: "";
        width: 948px;
        height: 100%;
        background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/hero-lg.png);
        background-repeat: no-repeat;
        background-size: contain;
        top: 0;
        right: 0;
        z-index: -1;
    }
    &-content {
        ul {
            display: flex;
            column-gap: 16px;
            padding-top: 60px;
        }
        a {
            display: block;
            padding: 9px;
        }
        img {
            width: 38px;
        }
        span {
            position: relative;
            background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/mark.png);
            background-repeat: no-repeat;
            background-position: bottom center;
            background-size: 100%;
            padding: 0 8px;
        }
    }
    &-img {
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .hero-img-sm, .hero-img-lg {
        display: none;
    }
}
@include ps-s {
    .main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding: 0;
        &::after {
            display: none;
        }
        .hero-img-lg {
            display: block;
        }
    }
}
@include pad-s {
    .main {
        &-content {
            padding: 20px 12px;
            text-align: center;
            ul {
                justify-content: center;
            }
        }
    }
    .h1-m {
        font-size: 32px;
		font-weight: 700;
    }
}
@include mobile {
    .main {
        .hero-img-lg {
            display: none;
        }
        .hero-img-sm {
            display: block;
        }
        &-content {
            padding: 40px 53.5px;
            ul {
                padding-top: 24px;
            }
            a {
                padding: 0;
            }
            img {
                width: 40px;
            }
        }
    }
}

// title
.index-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 80px;
    h2 {
        margin: 0 16px;
    }
    &-img-m {
        display: none;
    }
}
@include pad-s {
    .index-title {
        &-img {
            display: none;
        }
        &-img-m {
            display: block;
        }
    }
}
@include mobile {
    .index-title {
        padding: 40px 0;
            h2 {
                font-size: 24px;
            }
    }
}

// works
.works {
    // title
    &-title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 120px;
        padding-bottom: 80px;
        h2 {
            margin: 0 16px;
        }
    }
    &-title-img-m {
        display: none;
    }

    // ticket
    &-ticket {
        background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/homepage-work1-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-ticket-img {
        padding-top: 80px;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    &-card {
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba($color: #fff, $alpha: 0.1);
        z-index: 1;
        border-radius: 24px;
        padding: 80px 40px 56px;
        ul {
            display: flex;
            column-gap: 16px;
            padding-right: 123px;
            margin: 24px 0 40px;
            p {
                display: block;
                color: #3B3B3B;
                background: #fff;
                border-radius: 16px;
                padding: 4px 12px;
            }
        }
        a { //
            display: inline-block;
            border-radius: 5px;
            color: #fff;
            background-color: #000;
            padding: 16px 32px;
        }
        span { //
            // 垂直置中
            display: inline-block;
            vertical-align: middle;
            padding-left: 8px;
        }
    }
    &-card-none {
        display: none;
    }
    &-card-items {
        border-bottom: 1px solid #F1F1F1;
        margin-bottom: 40px;
    }

    // APP
    &-APP {
        background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/homepage-work2-lg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        padding: 200px 0;
        &::after {
            position: absolute;
            content: "";
            width: 948px;
            height: 100%;
            background: #0A101380;
            opacity: .5;
            top: 0;
            left: 0;
        }
    }

    // web
    &-web {
        background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/homepage-work3-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        padding: 176px 0 112px;
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background: #0D0C07;
            opacity: .5;
            top: 0;
        }
    }
    &-web-img {
        z-index: 1;
        img {
            max-width: 100%;
            height: auto;
        }
    }
}
@include ps-s {
    .works {
        // all
        &-content {
            flex-wrap: wrap;
            justify-content: center;
        }
        &-card {
            padding: 40px 24px;
            ul {
                justify-content: center;
                column-gap: 8px;
                padding-right: 0;
                p {
                    background: #F1F1F1;
                }
            }
        }
        &-card-m-none {
            display: none;
        }
        &-card-m-block {
            display: block;
        }
        &-card-items {
            text-align: center;
            h3 {
                color: #1E1E1E;
            }
        }

        // APP
        &-APP {
            padding: 400px 0;
            &::after {
                display: none;
            }
        }
    }
    
}
@include pad {
    .works {
        // all
        &-content {
            padding: 0;
        }
        &-card {
            background: #fff;
            padding: 24px 24px 48px;
            margin-left: 0;
            ul {
                column-gap: 12px;
            }
        }
        
    }
}
@include pad-s {
    .works {
        // title
        &-title-img {
            display: none;
        }
        &-title-img-m {
            display: block;
        }

        // ticket
        &-ticket-img {
            padding: 93px 40px 0;
        }
        &-card {
            ul {
                column-gap: 12px;
            }
        }

        // APP
        &-APP {
            padding: 295px 0;
        }

        // web
        &-web {
            padding: 0;
        }
        &-web-img {
            padding: 120px 40px;
        }
    }
}
@include mobile {
    .works {
        // title
        &-title {
            padding: 40px 0;
            h2 {
                font-size: 24px;
            }
        }

        // ticket
        &-card {
            ul {
                column-gap: 8px;
                padding: 16px 10px 20px;
                margin: 0px;
            }
            a {
                padding: 8px 16px;
            }
        }
        &-card-items {
            border-bottom: 0px;
            margin-bottom: 0px;
        }

        // APP
        &-APP {
            background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/homepage-work2-sm.png);
            padding: 195px 0;
        }

        // web
        &-web-card {
            ul {
                padding: 16px 6px 20px;
            }
        }
        &-web-img {
            padding: 90px 40px;
        }
    }
}

// serve
.serve {
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/homepage-services-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    a { //
        display: inline-block;
        border-radius: 5px;
        color: #fff;
        background-color: #000;
        padding: 16px 32px;
    }
    span { //
        // 垂直置中
        display: inline-block;
        vertical-align: middle;
        padding-left: 8px;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        padding: 80px 0;
        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 306px;
            height: 306px;
            background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/service-item-bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 16px;
            img, h3 {
                color: #fff;
                z-index: 1;
            }
            img {
                margin-bottom: 24px;
            }
        }
    }
}
@include ps-s {
    .serve {
        &-list {
            padding: 80px 40px;
        }
    }
}
@include pad-s {
    .serve {
        a {
            padding: 8px 16px;
        }
    }
}
@include mobile {
    .serve {
        &-list {
            padding: 40px 34.5px;
        }
    }
}

// article