// main
.main {
    display: flex;
    align-items: center;
    color: #5B5B5B;
    &-content {
        padding-right: 24px;
        ul {
            display: flex;
            column-gap: 16px;
            padding-top: 60px;
        }
        a {
            display: block;
            padding: 9px;
        }
        img {
            width: 38px;
        }
        span {
            position: relative;
            background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/mark.png);
            background-repeat: no-repeat;
            background-position: bottom center;
            background-size: 100%;
            padding: 0 8px;
        }
    }
    &-img {
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .hero-img-sm {
        display: none;
    }
}
@include pad-s {
    .main {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        &-content {
            padding: 20px 12px;
            text-align: center;
            ul {
                justify-content: center;
            }
        }
    }
    .h1-m {
        font-size: 32px;
		font-weight: 700;
    }
}
@include mobile {
    .main {
        .hero-img-lg {
            display: none;
        }
        .hero-img-sm {
            display: block;
        }
        &-content {
            padding: 40px 53.5px;
            ul {
                padding-top: 24px;
            }
            a {
                padding: 0;
            }
            img {
                width: 40px;
            }
        }
    }
}

// works
.works {
    // title
    &-title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 120px;
        padding-bottom: 80px;
        h2 {
            margin: 0 16px;
        }
    }
    &-title-img-m {
        display: none;
    }
    // ticket
    &-ticket {
        background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/homepage-work1-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-ticket-img {
        padding-top: 80px;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    &-card {
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba($color: #fff, $alpha: 0.1);
        border-radius: 24px;
        padding: 80px 40px 56px;
        ul {
            display: flex;
            column-gap: 16px;
            padding-right: 123px;
            margin: 24px 0 40px;
            p {
                display: block;
                color: #3B3B3B;
                background: #fff;
                border-radius: 16px;
                padding: 4px 12px;
            }
        }
        a {
            display: inline-block;
            border-radius: 5px;
            color: #fff;
            background-color: #000;
            padding: 16px 32px;
        }
        span {
            // 垂直置中
            display: inline-block;
            vertical-align: middle;
            padding-left: 8px;
        }
    }
    &-card-none {
        display: none;
    }
    &-card-items {
        border-bottom: 1px solid #F1F1F1;
        margin-bottom: 40px;
    }
}
@include ps-s {
    .works {
        &-content {
            flex-wrap: wrap;
            justify-content: center;
        }
        &-card {
            padding: 40px 24px;
            ul {
                column-gap: 8px;
                padding-right: 0;
                p {
                    background: #F1F1F1;
                }
            }
        }
        &-card-m-none {
            display: none;
        }
        &-card-m-block {
            display: block;
        }
        &-card-items {
            text-align: center;
            h3 {
                color: #1E1E1E;
            }
        }
    }
}
@include pad {
    .works {
        &-content {
            padding: 0;
        }
        &-card {
            padding: 24px 24px 48px;
            margin-left: 0;
            ul {
                column-gap: 12px;
            }
        }
    }
}
@include pad-s {
    .works {
        // title
        &-title-img {
            display: none;
        }
        &-title-img-m {
            display: block;
        }
        // ticket
        &-ticket-img {
            padding: 93px 40px 0;
        }
        &-card {
            ul {
                column-gap: 12px;
            }
        }
    }
}
@include mobile {
    .works {
        // title
        &-title {
            padding: 40px 0;
            h2 {
                font-size: 24px;
            }
        }
        // ticket
        &-card {
            ul {
                column-gap: 8px;
                padding: 16px 10px 20px;
                margin: 0px;
            }
            a {
                padding: 8px 16px;
            }
        }
        &-card-items {
            border-bottom: 0px;
            margin-bottom: 0px;
        }
    }
}