/* 全域 */
*, *::before, *::after {
    box-sizing: border-box;
}
/** {
    outline: 1px solid #000;
}*/
body {
	font-family: "Noto Sans TC", sans-serif;
    line-height: 1.2;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 40px;
    font-weight: 600;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 24px;
}