/*  */
// font-family
.fm-Tourney {
    font-family: "Tourney", sans-serif;
}
// line-height
.lh-1_5 {
    line-height: 1.5;
}
// font-weight
.fw-700 {
    font-weight: 700;
}
.fw-600 {
    font-weight: 600;
}
// 
.fz-16 {
    font-size: 16px;
}
.fz-20 {
    font-size: 20px;
}
@include pad-s {
    .fz-s-20 {
        font-size: 20px;
    }
}
// color
.color-primary {
    color: #3B3B3B;
    ;
}
.color-secondary {
    color: #5B5B5B;
}
.color-success {
    color: #C1C1C1;
}
.color-black {
    color: #000;
}
.color-white {
    color: #fff;
}

// 
.pb-8 {
    padding-bottom: 8px;
}
.pb-16 {
    padding-bottom: 16px;
}
.pb-24 {
    padding-bottom: 24px;
}